/*selector universal*/
*{
    padding: 0;
    margin: 0;
}

/*selector de etiqueta*/

body{
    background-color: rgb(0, 0, 0);
    color: white;
}

/*selector de id*/
.contenedor{
    width: 60%;
    
    background:
    linear-gradient(#ccc 0 0) padding-box, /*this is your grey background*/
    linear-gradient(to right, #aa2020, #022674) border-box;

  padding: 10px;
  border: 5px solid transparent;
  border-radius: 15px;
  display: inline-block;
  margin: 75px 0;
  
  
}


#encabezado{
    width: 70%;
    background-color: brown;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu{
    height: 4%;
    background-color: rgb(194, 194, 153);
    margin: 1em;
    border-radius: 5px;
    color: black;
    

}

ul{
    text-align: center;
    padding: 10px;
    

}


li{
    display:inline;
    padding: 10px,30px;
    margin: 3em;

}

li a:hover{
    color: rgb(133, 8, 8);
    text-decoration:none;
    list-style: none;
}
.clase{
    color: black;
}

.alumno{
    color: black;
}

.pie{
justify-content:space-between;
    color: black;
}