<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formulario.css">
    <title>Formulario</title>
    </head>
    <body>
    <form action="https://formsubmit.co/cegb1402@gmail.com" method="post">
    <div class="contenedor">
    <h1>Formulario</h1>
    <div class="nombre">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="Nombre" placeholder="Escribe
    aqui tu nombre" required><br>
    </div>
    <div class="fechaNacimiento">
    <label for="fechaNacimiento">Fecha de Nacimiento</label>
    <input type="date" id="fechaNacimiento" name="Fecha Nacimiento"
    required><br>
    </div>
    <div class="sexo">
    <label for="">Sexo</label>
    <li>
    <input type="radio" name="Sexo" id="masculino" value="Masculino"
    required>
    <label for="masculino">Masculino</label>
    <input type="radio" name="Sexo" id="femenino" value="Femenino"
    required>
    <label for="femenino">Femenino</label>
    </li>
    </div>
    <div class="lugarNacimiento">
    <label for="lugarNacimiento">Lugar de Nacimiento</label><br>
    <select name="Lugar De Nacimiento" id="lugarNacimiento" required>
    <option value="">Seleccionar Estado</option>
    <option value="Escuinapa">Escuinapa</option>
    <option value="Mazatlan">Mazatlan</option>
    <option value="Culiacan">Culiacan</option>
    <option value="Guamuchil">Guamuchil</option>
    <option value="Guasave">Guasave</option>
    <option value="Los Mochis">Los Mochis</option>
    
    <option value="Navojoa">Navojoaa</option>
    <option value="Obregon">Obregon</option>
    <option value="Guaymas">Guaymas</option>
    <option value="Hermosillo">Hermosillo</option>
    </select>
    </div>
    <div class="poblacion">
    <label for="poblacion">Poblacion</label><br>
    <input type="text" id="poblacion" name="Poblacion" required>
    </div>
    <div class="numHijos">
    <label for="">Numero De Hijos</label><br>
    <li>
    <input type="checkbox" id="ninguno" name="Numero De Hijos"
    value="Ninguno">
    <label for="ninguno">Ninguno</label>
    <input type="checkbox" id="1hijo" name="Numero De Hijos" value="1
    Hijo">
    <label for="1hijo">1</label>
    <input type="checkbox" id="2a3hijos" name="Numero De Hijos" value="2
    a 3 Hijos">
    <label for="2a3hijos">2-3</label>
    <input type="checkbox" id="masde3hijos" name="Numero De Hijos"
    value="Mas De 3 Hijos">
    <label for="masde3hijos">Mas De 3</label>
    </li><br>
    </div>
    
    <input class="correo" type="email" id="correo" name="Correo"
    placeholder="Correo electronico" required><br>
    <div class="egresoPrimaria">
    <label for="mes">Mes y ano de Egreso de la Educacion
    Primaria</label><br>
    <input type="month" name="Mes" id="mes" required><br>
    </div>
    <div class="habitos">
    <label for="habitos">Habitos Personales</label><br>
    <textarea name="Habitos" id="habitos" cols="30" rows="10" required
    placeholder="Ingrese sus habitos"></textarea><br>
    </div>
    <div class="ingresos">
    <label for="ingreso">Nivel De ingresos</label><br>
    <input required id="ingreso" name="Nivel De Ingresos" type="range"
    list="ingresosList" min="5000" max="50000" value="5000"><br>
    
    <datalist id="ingresosList">
    <option value="5000"></option>
    <option value="10000"></option>
    <option value="15000"></option>
    <option value="20000"></option>
    <option value="25000"></option>
    <option value="30000"></option>
    <option value="35000"></option>
    <option value="40000"></option>
    <option value="45000"></option>
    <option value="50000"></option>
    </datalist>
    <label id="datosList" for="ingresosLit">5000 10000 15000 20000 25000
    30000 35000 40000 45000 50000</label>
    </div>
    <div class="horario">
    <label for="">Horario Disponible</label><br>De
    <input type="time" name="Horario Disponible 1" id="" required> A
    <input type="time" name="Horario Disponible 2" id="" required><br>
    </div>
    </div>
    <input id="botones" type="submit">
    <input id="botones" type="reset">
    </form>
    </body>
    </html>